<mat-toolbar [color]="'primary'">
  <span>Books app</span>
  <span class="spacer"></span>
  <nav class="navigation">
    <ul class="navigation__list">
      <li><a class="navigation__link" [routerLink]="'books'" [routerLinkActive]="'navigation__link-active'">{{'navigation.books' | translate}}</a></li>
      <li><a class="navigation__link"  [routerLink]="'authors'" [routerLinkActive]="'navigation__link-active'">{{'navigation.authors' | translate}}</a></li>
    </ul>
  </nav>

  <button class="languageBtn" mat-icon-button [matMenuTriggerFor]="languageMenu">
    <mat-icon
            class="languageIcon"
            [svgIcon]="currentLang"></mat-icon>
  </button>
</mat-toolbar>

<mat-menu #languageMenu>
  <ng-template matMenuContent>
    <button class="btn" (click) = "changeLanguage('ru')" mat-menu-item>
      <mat-icon class="langSelect" [svgIcon]="'ru'"></mat-icon>
    </button>
    <button class="btn" (click) = "changeLanguage('en')" mat-menu-item>
      <mat-icon class="langSelect" [svgIcon]="'en'"></mat-icon>
    </button>
  </ng-template>
</mat-menu>

<router-outlet></router-outlet>
