

  <section class="wrapper">
    <div class="list-wrapper">

      <button class="addBtn" mat-mini-fab color="primary"
              [matTooltip]="'bookList.new' | translate"
              [routerLink]="'create'"
      >
        <mat-icon>add</mat-icon>
      </button>

      <ul class="items__list" *ngLet="books() | filter: booksFilter() as books">

        <li class="items__item" *ngFor="let book of books; trackBy: trackBook"
          [routerLink]="[book.ID]">
          <mat-card>
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{book.title}}</mat-card-title>
                <mat-card-subtitle>{{book.authorID | getAuthorName}}</mat-card-subtitle>
                <img mat-card-xl-image src="/assets/img/book.png" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p><span class="items__item-title">{{('bookList.genre' | translate) + ': '}}</span>{{book.genreID | getGenreName}}</p>
              <p><span class="items__item-title">{{('bookList.language' | translate) + ': '}}</span>{{book.languageID | getLanguageName}}</p>
              <p><span class="items__item-title">{{('bookList.publicationYear' | translate) + ': '}}</span>{{book.publicationYear}}</p>
              <p><span class="items__item-title">{{('bookList.pagesNumber' | translate) + ': '}}</span>{{book.pagesNumber}}</p>
              <p class="items__description"><span class="items__item-title">{{('bookList.description' | translate) + ': '}}</span>{{book.description}}</p>
            </mat-card-content>
          </mat-card>
        </li>

        <li *ngIf="!books.length"
            class="items__list-empty"
        >
          <img src="assets/img/no_results.jpg" width="500">
          <p class="noResultsText">{{'bookList.noBooks' | translate}}</p></li>
      </ul>
    </div>

    <app-book-filter (filterChange$)="booksFilter.set($event);"></app-book-filter>
  </section>
